@font-face {
  src: url(../fonts/CormorantGaramond-Regular.ttf) format("truetype");
  font-family: "Cormorant Garamond";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url(../fonts/CormorantGaramond-Medium.ttf) format("truetype");
  font-family: "Cormorant Garamond";
  font-weight: 500;
  font-style: normal;
}
@font-face {
  src: url(../fonts/CormorantGaramond-SemiBold.ttf) format("truetype");
  font-family: "Cormorant Garamond";
  font-weight: 600;
  font-style: normal;
}
@font-face {
  src: url(../fonts/Montserrat-Regular.ttf) format("truetype");
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url(../fonts/Montserrat-Medium.ttf) format("truetype");
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
}
@font-face {
  src: url(../fonts/Montserrat-SemiBold.ttf) format("truetype");
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
}
@font-face {
  src: url(../fonts/Montserrat-Bold.ttf) format("truetype");
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
}


/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 1vw 1vw 1vw;
  background-color: white;
  width: 100%;
}

.logo {
  display: flex;
  flex-direction: column;
}
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-gap: 2vw;
}
.menu_active,
.menu2,
.login {
  text-decoration: none;
}

.loginbar {
  display: flex;
  flex-direction: column;
  text-align: center;
}


@media screen and (max-width: 650px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo{
    margin-bottom: 3vw;
  }
  .navbar{
    margin-bottom: 3vw;
  }
  .menu{
    display: grid;
    grid-gap: 2vw;
    grid-template-columns: repeat(3, 1fr);
  }
  .loginbar{
    display: none;
  }
}


/* Блок 1 */
.block-1 {
  background-image: url(../images/main_picture_02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  line-height: 1.3;
  width: 100%;
  padding: 2vw 3vw 2vw 1vw;
}
.block-1__container {
  padding: 0vw 1vw 0vw 2vw;
  width: 55%;
}
.block-1__img {
  height: 40vw;
  border-top-left-radius: 7vw;
  border-bottom-right-radius: 7vw;
  overflow: hidden;
}

.block-1__text {
  margin: 0vw 0vw 3vw 0vw;
}
.block-1__button {
  max-width: 20%;
  background: rgba(80, 181, 218, 0.627);
  text-align: center;
  border: none;
  border-radius: 100px;
  padding: 1vw 1vw 1vw 1vw;
  margin: 0vw 0vw 0vw 0vw;
  text-decoration: none;
}

.block-1__nets {
  margin-top: 2vw;
}

@media screen and (max-width: 650px) {
  .block-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .block-1__container {
    width: 100%;
  }
  .block-1__img {
    height: 95vw;
  }
  .block-1__nets > a > img{
    width: 13vw;
    padding: 5px;
  }
  .block-1__button {
    padding: 2vw 2vw 2vw 2vw;
    max-width: 40%;
  }
}

/* Блок services */
.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-content: center;
  justify-content: center;
  padding: 2vw 1vw 4vw 1vw;
  width: 100%;
}

.services__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 90%;
}

.services__point {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  border: medium solid rgba(80, 181, 218, 0.203);
  margin: 1vw 1vw 1vw 1vw;
  padding: 1vw;
  background-color: white;
}

.services__point__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: center;
  width: 100%
}

.services__point__box1 {
  height: 20vw;
  border-top-left-radius: 3vw;
  border-bottom-right-radius: 3vw;
  overflow: hidden;
}

.services__button {
  background: rgba(80, 181, 218, 0.627);
  text-align: center;
  border: none;
  border-radius: 100px;
  padding: 1vw;
  margin: 1vw 0vw 0vw 0vw;
  text-decoration: none;
}

@media screen and (max-width: 650px) {
  .services__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
  }
}

/* Блок events */
.events {
  background-image: url(../images/main_picture_02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: center;
  padding: 1vw 0vw 3vw 0vw;
  width: 100%;
}

.events__container {
  display: grid;
  grid-template-columns: repeat(2, minmax(20vw, 1fr));
  grid-gap: 1vw;
  width: 80%;
}

.events__point {
  display: flex;
  flex-direction: row;
  border-radius: 1vw;
  border: medium solid rgba(80, 181, 218, 0.203);
  margin: 1vw 1vw 1vw 1vw;
  padding: 1vw;
  align-items: center;
  background-color: white;
}

.events__point1 {
  display: flex;
  flex-direction: column;
  border-radius: 1vw;
  border: medium solid rgba(80, 181, 218, 0.203);
  margin: 1vw 1vw 1vw 1vw;
  padding: 1vw;
  align-items: center;
  background-color: white;
}

.events__point__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  padding: 0vw 1vw 0vw 1vw;
}

.events__point__box1 {
  height: 25vw;
  border-top-left-radius: 3vw;
  border-bottom-right-radius: 3vw;
  overflow: hidden;
  margin-bottom: 1vw;
}

.events__point__text1 {
  line-height: 1.5;
  text-align: left;
}

.events__point__text3 {
  padding: 1vw;
}

.events__point__text4 {
  line-height: 1.5;
  text-align: center;
}

.events__button {
  background: rgba(80, 181, 218, 0.627);
  text-align: center;
  border: none;
  border-radius: 100px;
  padding: 0.5vw;
  margin: 1vw 0vw 1vw 0vw;
  text-decoration: none;
}

@media screen and (max-width: 650px) {
  .events__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
  }
}

/* Блок blog */
.blog {
  background-image: url(../images/main_picture_02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: center;
  padding: 1vw 0vw 3vw 0vw;
  width: 100%;
}

.blog__container {
  display: grid;
  grid-template-columns: repeat(3, minmax(20vw, 1fr));
  grid-gap: 1vw;
  width: 80%;
}

.blog__point {
  display: flex;
  flex-direction: column;
  border-radius: 1vw;
  border: medium solid rgba(80, 181, 218, 0.203);
  margin: 1vw 1vw 1vw 1vw;
  padding: 1vw;
  align-items: center;
  background-color: white;
}

.blog__point1 {
  display: flex;
  flex-direction: column;
  border-radius: 1vw;
  border: medium solid rgba(80, 181, 218, 0.203);
  margin: 1vw 1vw 1vw 1vw;
  padding: 1vw;
  align-items: center;
  background-color: white;
}

.blog__point__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  padding: 0vw 1vw 0vw 1vw;
}

.blog__point__box1 {
  height: 25vw;
  border-radius: 1vw;
  padding-bottom: 1vw;
}

.blog__point__text1 {
  line-height: 1.5;
  text-align: left;
}

.blog__point__text3 {
  padding: 1vw;
}

.blog__button {
  background: rgba(80, 181, 218, 0.627);
  text-align: center;
  border: none;
  border-radius: 100px;
  padding: 0.5vw;
  margin: 1vw 0vw 1vw 0vw;
  text-decoration: none;
}

@media screen and (max-width: 650px) {
  .blog__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
  }
  .blog__point__box1 {
    height: 90vw;
  }
}


.blog1 {
  background-image: url(../images/main_picture_02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: center;
  padding: 1vw 0vw 3vw 0vw;
  width: 100%;
}

.blog1__container {
  display: grid;
  grid-template-columns: repeat(1, minmax(20vw, 1fr));
  grid-gap: 1vw;
  width: 70%;
}

.blog1__point {
  border-radius: 1vw;
  border: medium solid rgba(80, 181, 218, 0.203);
  margin: 1vw 1vw 1vw 1vw;
  padding: 1vw;
  align-items: center;
  background-color: white;
}

.blog1__point__box {
  width: 100%;
  padding: 0vw 1vw 1vw 1vw;
}

.circle{
  float:left;
  height: 27vw;
  border-radius: 1vw;
  overflow: hidden;
  margin-right: 20px;
}


@media screen and (max-width: 650px) {
  .circle {
    float:none;
    height: 90vw;
  }
  .blog1__container {
    width: 90%;

  }
}

/* Блок certificates */
.certificates {
  background-image: url(../images/main_picture_02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  padding: 1vw 0vw 5vw 0vw;
}

.certificates__container {
  display: flex;
  flex-direction: row;
  width: 90%;
  text-align: center;
}

.certificates__point {
  margin: 0vw 0.5vw 0vw 0.5vw;
}

.certificates__point__box1 {
  height: 20vw;
  width: 100%;
}

@media screen and (max-width: 650px) {
  .certificates__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .certificates__point__box1 {
    height: 60vw;
    width: 100%;
  }
}

/* Блок 4 */
.block-4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1vw 0vw 2vw 0vw;
}
.block-4__container {
  padding: 1vw 2vw 1vw 1vw;
}
.block-4__header {
  text-align: center;
}

.block-4__point {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid  rgba(80, 181, 218, 0.771);
  margin-bottom: 1vw;
  padding: 1vw 2vw 1vw 1vw;
  background-color: white;
  max-height: 2.5vw;
}
.block-4__number {
  margin: 1vw 2vw 1vw 1vw;
}

.block-4__img {
  height: 40vw;
  border-radius: 10px;
}

@media screen and (max-width: 650px) {
  .block-4__box {
    width: 100%;
  }
  .block-4 {
    flex-direction: column;
  }
  .block-4__img {
    height: 70vw;
  }
  .block-4__point{
    max-height: 10vw;
  }
  }

/* Блок 2 */
.block-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  line-height: 1.3;
  padding: 2vw 10vw 2vw 10vw;
  width: 100%;
}

.block-2__container {
  padding: 1vw 1vw 1vw 3vw;
  width: 60%;
}

.block-2_image {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 40%;
}

.block-2__image1,
.block-2__image2,
.block-2__image3 {
  width: 100%;
  max-width: 100%;
}

.block-2__image1 {
  grid-area: 1/1/4/3;
  margin-bottom: 1vw;
}

.block-2__image2 {
  grid-area: 4/1/7/3;
  display: flex;
  flex-direction: column;
}

.block-2__image3 {
  grid-area: 2/3/6/5;
  margin: 1vw;
}

.block-2__image1,
.block-2__image3,
.block-2__image4{
  border-radius: 10px;
}

@media screen and (max-width: 650px) {
  .block-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .block-2_image{
    width: 90%;
  }
  .block-2__container {
    width: 100%;
  }
}

/* Блок participation */
.participation {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-content: center;
  justify-content: center;
  padding: 2vw 1vw 3vw 1vw;
  width: 100%;
}

.participation__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
}

.participation__point {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  border: medium solid rgba(80, 181, 218, 0.203);
  margin: 1vw 1vw 1vw 1vw;
  padding: 1vw;
  background-color: white;
}

.participation__point__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0vw 2vw 0vw 2vw;
}

.participation__point__box1 {
  height: 20vw;
  padding: 0vw 1vw 0vw 1vw;
}

@media screen and (max-width: 650px) {
  .participation__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}


/* Блок 3 */
.block-3 {
  background-image: url(../images/main_picture_02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1vw 0vw 2vw 0vw;
}
.block-3-container {
  width: 90%;
  display: grid;
  grid-gap: 2vw;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
.block-3-container__text {
  border: 1.5px solid rgba(80, 181, 218, 0.771);
  padding: 1vw;
  background-color: white;
}
.block-3-container__feedback{
  max-width: 100%;
  max-height: 100%;
}

.block-3__container-link {
  background-color: white;
  border: 1.5px solid  rgba(80, 181, 218, 0.771);
  border-radius: 70px;
  color: black;
  text-decoration: none;
  padding: 1vw;
}

@media screen and (max-width: 650px) {
  .block-3-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .block-3__container-link {
    font-size: 0.4rem;
  }
}

/* Блок 5 */
.block-5 {
  background-image: url(../images/main_picture_02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-content: center;
  justify-content: center;
  width: 100%;
}
.block-5__container {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 18vw 18vw 19vw 20vw;
  grid-template-rows: repeat(1, minmax(150px, 1fr));
  margin: 1.7vw 5vw 6vw 5vw;
}
.block-5__container > div {
  background-color: white;
  border: 1.5px solid  rgba(80, 181, 218, 0.771);
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}



.block-5__containerbb {
  display: grid;
  grid-gap: 15px;
  grid-template-columns:  repeat(3, minmax(200px, 1fr));
  grid-template-rows: repeat(1, minmax(150px, 1fr));
  margin: 1.7vw 5vw 6vw 5vw;
}
.bb {
  background-color: white;
  border: 1.5px solid  rgba(80, 181, 218, 0.771);
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 0vw 1vw 0vw 1.5vw;
}
.textbb {
  line-height: 1.5;
  text-align: left;
}


.block-5__container_small {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 20vw 20vw 25vw;
  grid-template-rows: repeat(1, minmax(200px, 1fr));
  margin: 1.7vw 5vw 6vw 5vw;
}
.block-5__container_small > div {
  background-color: white;
  border: 1.5px solid  rgba(80, 181, 218, 0.771);
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}
.block-5__container-link {
  border-top: 1.5px solid  rgba(80, 181, 218, 0.771);
  padding: 13px;
  text-decoration: none;
  text-align: center;
}
block-5_text-name{
  width: 100%;
}

.block-5__img
.block-51__img {
  border-top-left-radius: 10vw;
  border-bottom-right-radius: 10vw;
  overflow: hidden;
}

@media screen and (max-width: 650px) {
  .block-5 {
    margin: 0;
    width: 100%;
  }
  .block-5__container {
    margin: 15px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(50vw, 600vw));
    text-align: center;
  }
  .block-5__containerbb {
    margin: 15px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(50vw, 600vw));
    text-align: center;
  }
  .block-5__container_small {
    margin: 15px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(50vw, 600vw));
    text-align: center;
  }
}


.block-6 {
  padding: 1vw 0vw 2vw 0vw;
  text-align: center;
}


/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: rgba(69, 210, 225, 0.145);
}
.footer__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.footer__link-social > a > img {
  width: 4vw;
  padding: 10px;
}
.footer__link > div > a {
  color: black;
  text-decoration: none;
}
.footer__bottom{
  border-top:1px solid   rgba(80, 181, 218, 0.771);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
}
.footer__bottom > a{
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 650px) {
.footer__link {
  flex-direction: column;
  margin-top: 10px;
}
.footer__link-social > a > img {
  width: 10vw;
  padding: 5px;
}

.footer__bottom{
  text-align: center;
}
}

/*CONTACT-PAGE*/
.contact-main {
  background-image: url(../images/main_picture_03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1.5px solid  rgba(80, 181, 218, 0.771);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
  height: 100vh;
  padding-top: 5vw;
  padding-left: 30vw;
  color: white;
}
.contact-link {
  background-color: white;
  border: 1.5px solid  rgba(80, 181, 218, 0.771);
  border-radius: 30vw;
  width: 50vw;
  text-decoration: none;
  padding: 0.7vw;
  margin-top: 1vw;
}
.contact-link1 {
  background-color: white;
  border: 1.5px solid  rgba(80, 181, 218, 0.771);
  border-radius: 30vw;
  width: 50vw;
  text-decoration: none;
  padding: 1.1vw;
  margin-top: 1vw;
}

.contact-main__icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50vw;
}

@media screen and (max-width: 650px) {
  .contact-main__icon {
    display: flex;
    flex-direction: column;
    width: 80vw;
  }
  .contact-main {
    padding-left: 1vw;
  }
  .contact-link {
    width: 80vw;
}
}


  /*FONTS*/
.menu_active {
  color: #222831;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
}
.menu2 {
  color: rgba(25, 24, 37, 0.50);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
}
.logo_text {
  color: rgba(57, 171, 212, 0.771);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
}
.logo_text1 {
  color: rgba(25, 24, 37, 0.50);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
}
.login {
  color: #222831;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
}
@media screen and (max-width: 650px) {
  .menu_active {
    font-weight: 400;
    font-size: 0.8rem;
  }.menu2 {
    font-weight: 400;
    font-size: 0.8rem;
  }
  .login {
    font-weight: 400;
    font-size: 0.9rem;
  }
  .logo_text {
    font-weight: 400;
    font-size: 1.1rem;
  }
  .logo_text1 {
    font-weight: 400;
    font-size: 0.9rem;
  }
}

.block-1__header {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  color: black;
  font-size: 2.3rem;
}
.block-1__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.0rem;
  color: black;
}
.block-1__button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  color: #FFF;
}
@media screen and (max-width: 650px) {
  .block-1__header {
    font-size: 1.5rem;
  }.block-1__text {
    font-size: 1.0rem;
  }
  .block-1__button {
    font-size: 0.9rem;
  }
}

.services__button {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  color: black;
}
.services__point__text,
.events__point__text,
.events__point__text3,
.blog__point__text,
.blog__point__text3 {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 700;
}

.participation__point__text,
.events__point__text1,
.events__point__text4,
.blog__point__text1 {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
}

@media screen and (max-width: 650px) {
.services__point__text,
.events__point__text,
.blog__point__text {
  font-size: 0.9rem;
}
.participation__point__text,
.events__point__text1,
.events__point__text4,
.blog__point__text1 {
  font-size: 0.8rem;
}
.services__button {
  font-size: 0.8rem;
}
}

.block-2__header {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  color: rgba(57, 171, 212, 0.771);
  font-size: 1.2rem;
}
.block-2__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  color: black;
}

.block-3__container-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: rgba(80, 181, 218, 0.926);
  font-size: 1.0rem;
} 

.block-4__number {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.0rem;
  color: rgba(80, 181, 218, 0.771);
}
.block-4__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  color: black;
}

.block-5__header,
.events__header1,
.blog__header1 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  color: black;
  font-size: 1.0rem;
}
.block-5__container-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: rgba(80, 181, 218, 0.926);
  font-size: 1.0rem;
}
.block-5_text-name {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-size: 2.0rem;
}
.block-5_text-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
}
.block-5_text-boldname {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  padding-top: 2vw;
}
.text,
.textbb {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  color: black;
}

.block-3__header,
.block-4__header,
.services__header,
.events__header,
.blog__header,
.participation__header,
.certificates__header {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-size: 1.2rem;
}

.block-2__image2 {
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-size: 0.9rem;
  color: #0000008a;
  font-style: italic;
}


@media screen and (max-width: 650px) {
  .block-3__header,
  .block-4__header,
  .services__header,
  .events__header,
  .blog__header,
  .participation__header,
  .certificates__header {
    font-size: 0.9rem;
  }
  .block-4__text {
    font-size: 0.7rem;
  }
  .block-5__header,
  .events__header1,
  .blog__header1 {
    font-size: 0.8rem;
}
  .block-5_text-name{
    font-size: 1.9rem;
}
}

.footer {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.15rem;
}

.contact-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 2.0rem;
  color: black;
}
.contact-link1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 2.0rem;
  color: black;
}
.contact-main {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-size: 1.5rem;
}

@media screen and (max-width: 650px) {
  .contact-link {
    font-size: 1.2rem;
  }
  .contact-link1{
    font-size: 1.2rem;
  }
  .contact-main {
    font-size: 0.8rem;
  }
}


  /*CARUSEL*/
* {
	box-sizing: border-box;
}
.carousel {
	margin-top: 5vw;
  margin-bottom: 5vw;
}
.carousel-cell,
.carousel-cell-video {
	width: 20%;
	margin-right: 10px;
	border-radius: 15px;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}
.carousel-cell:before {
	display: block;
	content: '';
}

@media screen and (max-width: 650px) {
  .carousel {
    margin-top: 1vw;
    margin-bottom: 1vw;
  }
  .carousel-cell {
    width: 40%;
  }
  .carousel-cell-video {
    width: 70%;
  }
}




